{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        GIT
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        #####
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Задача организации, в особенности же реализация намеченных
      плановых заданий играет важную роль в формировании систем массового
      участия. Не следует, однако забывать, что консультация с широким
      активом позволяет выполнять важные задания по
      разработке направлений прогрессивного развития.</p>
    <p>Идейные соображения высшего порядка, а также новая
      модель организационной деятельности способствует
      подготовки и реализации систем массового участия.
      С другой стороны начало повседневной работы по формированию
      позиции требуют определения и уточнения форм развития.</p>
    <p>Товарищи! постоянное информационно-пропагандистское обеспечение
      нашей деятельности играет важную роль в формировании новых
      предложений. Идейные соображения высшего порядка,
      а также реализация намеченных плановых заданий в значительной
      степени обуславливает создание систем массового участия.</p>
  </article>
</div>
{% endblock %} 

